@model Web.Areas.MemberArea.ViewModels.Dashboard.ViewModel

<h4>New Blogs-</h4>     
@foreach (var item in Model.NewBlogPostList)
{
    @Html.Partial("_BlogEntity", new ViewDataDictionary { { "item", item } });

}