@model BLL.ViewModels.Dashboard.ViewModel

<h4>@Resources.Blog.NewBlogs</h4>     
@foreach (var item in Model.NewBlogPostList)
{
    @Html.Partial("~/Areas/MemberArea/Views/BlogPosts/_BlogEntity.cshtml", new ViewDataDictionary { { "item", item } });

}