@model Web.Areas.MemberArea.ViewModels.dashboard.ViewModel
@{
    ViewBag.Title = Resources.Common.ApplicationName;
}

<div class="jumbotron">
    Minu sõidukite arv: @Model.VehicleCount
</div>