@model Web.Areas.MemberArea.ViewModels.Dashboard.ViewModel
@{
    ViewBag.Title = Resources.Common.ApplicationName;
}

<div class="col-md-6">
    @Html.Partial("~/Areas/MemberArea/Views/Dashboard/_FavoritedBlogs.cshtml")
   
</div>
<div class="col-md-6">
    @Html.Partial("~/Areas/MemberArea/Views/Dashboard/_NewBlogs.cshtml")
</div>
